{% extends "base.html.twig" %}
{% block title %}{{ parent() }} Modifier un utilisateur {% endblock %}
{% block contenu %} 
<h1>Modifier un Produit</h1>
{% if form.produit is defined %}     
    {% if form.produit != null %}      
        <form class="form-signin" action="index.php?page=produitModif" method="post" enctype="application/x-www-form-urlencoded">      
        <h1 class="h3 mb-3 font-weight-normal">Modifier un Produit</h1>         
        <label for="designation" class="sr-only">Designation:</label>      
        <input type="text" id="designation" name="designation" class="form-control" placeholder="designation" value="{{form.produit.designation}}">    
        <label for="description" class="sr-only">Description:</label>      
        <input type="textarea" id="description" name="description" class="form-control" placeholder="description" value="{{form.produit.description}}">      
        <label for="prix" class="sr-only">Prix:</label>      
        <input type="text" id="prix" name="prix" class="form-control" placeholder="prix" value="{{form.produit.prix}}">  
        <label for="photo" class="sr-only">Image:</label>   
        {% if form.produit.photo is not empty %}
            <img src="images/{{form.produit.photo}}" alt= "image du produit " />
        {% else %}
            <img src="images/carton.jpg" class style="width: 10%" alt= "image du produit" />
        {% endif %}   
        <input type="file" id="photo" name="photo" class="form-control" placeholder="Image" value="{{form.produit.photo}}">  
    
        <select class="form-control" name="type">
            {% for t in form.type %}        
                {% if t.id==type.produit.idType %}          
                    <option value="{{ t.id }}" selected>{{ t.libelle }}</option>         
                {% else %}
                    <option value="{{ t.id }}">{{ t.libelle }}</option>            
                {% endif %}        
            {% endfor %}         
        </select> 
        <input type="hidden" name="id" value="{{ form.produit.id}}"/>     
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>      
        </form> 
    {% else %}        
    <h2 class="alert alert-danger" role="alert">{{ form.message }}</h2>        
    <a href="index.php?page=produit">Retourner sur la liste des Produit</a>    
    {% endif %}
{% else %}      
    {% if form.valide == true %}         
    <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>         
    <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=produit">Retourner sur la liste des Produit</a></h1>     
    {% else %}          
    <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>       
    <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=produit">Retourner sur la liste des Produit</a></h1>    
    {% endif %}
{% endif %}     
{% endblock %} 