{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Liste des produits {% endblock %}
{% block contenu %} 

{% if form.etat is defined %}     
    {% if form.etat == true %}       
        <h1 class="h3 mb-3 font-weight-normal">Suppression réussie</h1>       
    {% else %}         
    <h1 class="alert alert-danger" role="alert">Problème d'insertion</h1>     
    {% endif %}         
{% endif %}  
<form  class="form-signin" action="index.php?page=produit" method="post" enctype="application/x-www-form-urlencoded"> 

<div class="table-responsive">  
    <table class="table">
    <thead>     
        <tr>       
         <th scope="col">Designation</th>      
         <th scope="col">Description</th>      
         <th scope="col">Prix</th>      
         <th scope="col">Photo</th>
         <th scope="col"></th>  
         <th scope="col"></th>  
         <th scope="col"></th>   
        </tr>    
    </thead>    
    <tbody> 
        {% for p in liste %}
        <tr>
            <td>{{p.designation}}</td>
            <td>{{p.description}}</td>
            <td>{{p.prix}}</td>
            <td>{{p.photo}}</td>
            <td><a href="index.php?page=produitModif&id={{p.id}}">Modifier</a></td>
            <td><a href="index.php?page=produit&id={{p.id}}">Supprimer</a></td>
            <td><input type="checkbox" name="cocher[]" id="cocher[]" value="{{u.id}}" /></td>
        </tr>
        {% endfor %}        
    </tbody> </table>  
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btSupprimer">Supprimer</button></form> 
</div>
{% endblock %}