<div class="table-responsive">  
    <table class="table">
    <thead>     
        <tr>        
         <th scope="col">Jeux Vidéo</th>      
         <th scope="col">Tour Ordinateur</th> 
         <th scope="col">Console</th>      
         <th scope="col">Processeurs</th>
         <th scope="col">Ecran</th>
         <th scope="col">Carte mère</th>
         <th scope="col">Autre</th> 
        </tr>    
    </thead>    
    <tbody> 
        {% for p in liste %}
        <tr><td>{{p.Jeux Vidéo}}</td><td>{{p.Tour Ordinateur}}</td><td>{{p.Console}}</td>
            <td>{{p.Processeurs}}</td><td>{{p.Ecran}}</td><td>{{p.Processeurs}}</td><td>{{p.Carte mère}}</td><td>{{p.Autre}}</td>
        </tr>
        {% endfor %}        
    </tbody>   
    </table> 
</div>